fastapi
uvicorn[standard]
pydantic-settings
jinja2
httpx
python-multipart
pytest
pytest-asyncio

# For LLM
litellm
instructor
openai
google-genai

#For DB
asyncpg
sqlmodel
psycopg[binary, pool]
alembic

# For RAG features
pgvector
fastembed
